body{
    margin: 0;
    /* background-color:#ADEFD1FF; */
 background-color:rgb(33, 147, 192);
    background-size: cover;
    background-position: center;
}

header{
margin: 0px;
/* background-color:#00203fff; */
background-color:black;
   padding: 6px;

   font-family : "Comic Sans MS";
}

header a{
    padding-left: 15px;
    color:whitesmoke;
    font-family:Cambria;
text-decoration: none; 
}

header a:hover{
    transition: 0.5s;
    color: aqua;
}

nav{
    overflow: hidden;
    margin-top: 20px;

}


 ul{
    margin-top: 25px;
    list-style-type: none;
    float: left;
    margin-left: 520px;
    display: inline;

}

ul li{
    display: inline;
    padding: 15px;
}

ul li a{
    font-size:larger;
    color:rgb(0, 0, 0);
    padding: 10px 30px;
border: 2px solid rgb(0, 0, 0);
    text-decoration: none;  /* remove underline from text */  
    font-size: 21px;

}

ul li a:hover{
    transition: 0.5s;
background-color: whitesmoke ;

color: rgb(13, 98, 168);

}



footer{
    clear: both; /*overlap vayera aako xa vane clear garera bottom ma aaunxa*/
        background-color:black;
        border: 1px solid black;
        padding: 6px;
    
        color: white;
     font-family: helvetica;
    }
    
    footer a{
    
        color: rgb(192, 187, 187);
        list-style: none;
        text-decoration: none;
        text-align: center;
       padding:0px 15px 0px 15px;
       
    }
        
    footer  ol{
        color: white;
        display: flex;
        padding-bottom: 50px;
        justify-content: center;
margin-left: 100px;
    }

    footer u,a:hover{
        color:rgb(0, 146, 146);
    }
    
    footer p{
    
        text-align: center;
    margin-left: 130px;
    
    
    }
    
    A p{
    color: white;
    clear: both;
    margin-top: 400px;
    text-align: right;    
    margin-right: 80px;
}




                                                                                        /* Location part */









@media screen and (max-width: 1220px)
{
.column.side, .column.middle , ul {
    width: 100%;
}

ul{
width: 100%;
margin: 0;
display:grid;

}


}

div.desc A p{
    text-align: right;
    margin-top: 100px;
}

div.desc pre{
clear: both;
text-align: justify,center;
margin: 50px 0px 100px 320px;
font-size: x-large;
background-color: white;
width: 1220px;
padding-right: 100px;
}

div.desc pre:hover{
background-color: black;
color: green;
transition: 0s;
}

div.desc img{
    clear: both;
float: center;
margin: 30px 0px;
    width: 500px;
    height: 400px;
    border: 2px solid black;
}




                                                                      /*Gallery part*/



div.gallery {
    margin: 50px;
    border: 5px solid rgb(0, 0, 0);
    color: black;
    font-size:larger;
float: left;
width: 530px;

}

div.gallery:hover{
    background-color:gray;
    border: 5px solid white;
}

div.gallery img{

    width: 100%;
    height: auto;
}


div.desc{
    padding: 15px;
    text-align: center;

}



                                                                                    /*About part*/



div.info h1{

text-align: center;
font-size: 70px;
text-decoration: underline;
}




div.info img{
margin-left: 20px;
    border: 10px solid black; 
    width: 500px;
     height:600px; 
    float: left;



}

div.info p{

    font-family:'Franklin Gothic Medium';
float:right; 
margin-top: 150px;
margin-right: 300px;
  
font-size: X-large;

}


div.other h2{

    clear: both;
font-family: Arial;
font-size: 50px;
text-decoration: underline;
float:left;
text-align: left;
margin-top: 200px;

}

div.other p{
    clear: right;
    font-family:'Franklin Gothic Medium';
    float: left;
font-size: xx-large;

margin-top: 250px;
}


div.sh h1{
    margin: 800px 0px 20px 200px;
        float:left;
    font-size: 50px;
    }
    
    div.sh a{
    
    padding: 20px;
    }
    
    div.sh img{
    clear: both;
    display:grid;
        border: 1px solid black;
        margin-top: 80px;
    
    width:400px;
    height: 400px;
    
    }
    
    div.email {
    margin-top: 200px;
    margin-bottom: 15px;
        text-align: center;
    }
    
    div.email a{
        clear: both;
    font-size: x-large;
        
    
    color: black;
    
    }
    

